<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>Registration service!</title>
    <meta charset="UTF-8"/>
    <link rel='stylesheet' href='/webjars/skeleton-css/2.0.4/css/skeleton.css' type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>

    <script type="text/javascript" src="/webjars/jquery/2.1.4/jquery.min.js"></script>
</head>
</html>
