<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Enjoy!</title>
        <meta charset="UTF-8"/>
    </head>

    <body>
        <div class="container" style="text-align: center">
            <div class="row">
                <h1>You have successfully entered</h1>
                <iframe width="500" height="300" src="http://www.youtube.com/embed/ysSxxIqKNN0?autoplay=1" frameborder="0"
                        allowfullscreen="true"/>
            </div>
        </div>
    </body>
</html>